<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Student-Course Demo</a>
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/students">Students</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/add-student">Add Student</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/courses">Courses</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/add-course">Add Course</a>
    </li> -->
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
